@import "../../assets/variables";

.mainMenu {
  background: #9E419C;

  @media screen and (max-width: 1335px) {
    display: inline-flex;
  }
  .container {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
ul{
  padding: 0;
}
  li {
    display: inline-block;
    margin-right: 53px;
    a {
      font-size: 16px;
      color: $white;
      font-family: $open-sans-bold;
      text-transform: uppercase;
    }
  }

  .searchBox {
    display: flex;

    input {
      width: 334px;
      height: 45px;
      border: none;
      color: #9E419C;
      font-size: 16px;
      outline: none;
      padding: 0 15px;
    }

    .searchButton {
      background: $light-blue url("../../assets/images/search.png") no-repeat center center;
      width: 45px;
      height: 45px;
      border: 0;
      cursor: pointer;
    }

  }
}