@import "../../../assets/variables";

.widget {
  border: 1px solid $blue;

  .widgetContent {
    font-size: 14px;
    font-family: $open-sans;
    padding: 5px 0 10px 0;
    min-height: 112px;
  }

  .showMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 49px;
    background: $light-blue;
    color: $gray-blue;
    padding-left: 16px;

    .icon {
      float: right;
      background: $blue;
    }
  }
}

.widgetHeader {
  height: 49px;

  .widgetIcon {
    float: left;
    background: $light-blue;
  }
}

.widgetTitle {
  float: left;
  color: $orange;
  font-size: 18px;
  font-family: $open-sans-bold;
  text-transform: uppercase;
  padding-left: 17px;
  line-height: 49px;

  @media (max-width: 1370px) {
    font-size: 17px;
  }
}

.widgetButtons {
  display: flex;
  margin-left: auto;
  float: right;
  justify-content: flex-end;
  cursor: pointer;

  .closeButton {
    background: $light-blue;
  }

  .hideButton {
    transform: rotate(90deg);
    flex-basis: 45px;
  }

  svg {
    fill: $default;
  }
}
