@import "../../../assets/variables";

.widget {
  border: 1px solid $blue;
  min-height: 50px;
  .widgetContent {
    font-size: 14px;
    font-family: $open-sans;
    padding: 5px 0px;
  }

  .widgetHeader {
    height: 49px;
    display: flex;
    align-items: center;
  }
}

.widgetTitle {
  color: $orange;
  font-size: 18px;
  font-family: $open-sans-bold;
  text-transform: uppercase;
  padding-left: 17px;
}

.widgetIcon {
  background: $light-blue;
}


.widgetButtons {
  display: flex;
  margin-left: auto;


  .closeButton {
    background: $light-blue;
  }

  svg {
    fill: $default;
  }
}
