@import "../../../../assets/variables";

.addWidgetButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 49px;
  background: $light-blue;
  color: $gray-blue;
  padding: 0 0 0 16px;
  border: 0;

  .icon {
    float: right;
    background: $blue;
  }

  svg {
    transform: rotate(45deg);
  }
}