@import "../../../../assets/variables";

.infoWidget {
  padding: 0 27px 0 27px;

  li {
    border-bottom: 1px solid $blue;
    height: 90px;
    display: flex;
    align-items: center;
    font-family: $open-sans-bold;
    color: $gray-blue;

    &:last-child {
      border: 0;
    }

    .dateUpdated {
      font-size: 14px;
      font-family: $open-sans-light;
      font-style: italic;
    }
  }
}
