header {
  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBF0F4;
    height: 65px;
  }

  ul {
    color: #949FB3;
    font-size: 14px;
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      margin-right: 27px;
    }
  }

  .icon {
    display: inline-block;
    width: 49px;
    height: 49px;
    background: #E5F0FA;
    text-align: center;
    padding: 10px;
    margin-left: 12px;
    position: relative;

    svg {
      fill: #949FB3;
    }
  }

  .notificationsCount {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    line-height: 12px;
    background: #FF9033;
    text-align: center;
    right: 8px;
    top: 12px;
    font-size: 9px;
    color: #fff;
    border-radius: 50%;
  }

  .logo {
    display: flex;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 22px;
    padding-top: 15px;

    .logoTitle {
      padding-top: 7px;
      margin-left: 10px;
      line-height: 23px;
    }

    .subtitle {
      padding-top: 24px;
      margin-left: 25px;
    }

    .logoSubtitle {
      font-family: "Open Sans Light", sans-serif;
      font-size: 14px;
    }

    span {
      font-family: "Open Sans Light", sans-serif;
    }
  }
}


