@import "../../../../assets/variables";

.linksWidget {
  padding: 0px 27px 0px 27px;

  li {
    border-bottom: 1px solid $blue;
    height: 73px;
    display: flex;
    align-items: center;
    font-family: $open-sans-bold;
    color: $gray-blue;
    &:last-child{
      border: 0;
    }
    div {
      width: 83px;
      text-align: center;
      margin-right: 42px;
    }
  }
}