@import "../../assets/variables";

.gutter-sizer {
  width: 20px;
}

.grid-sizer {
  width: calc(33.33% - 13px);

  @media (#{$media-xsmall}){
    width: calc(50.5% - 15px);
  }

  @media (#{$media-xxsmall}){
    width: 100%;
  }
}

.grid-block {

  @extend .grid-sizer;
  background: $white;
  margin-top: 20px;
}

@media (#{$media-mobile}){
  .long{
    .widgetIcon{
      display: none;
    }
  }
}
