@import "../../assets/variables";

.gutter-sizer {
  width: 20px;
}

.grid-sizer {
  width: calc(33.33% - 13px);
}

.grid-block {
  width: calc(33.33% - 13px);
  background: $white;
  margin-top: 20px;
}
