@import "variables";

@font-face {
  font-family: "Open Sans Bold";
  src: url("fonts/opensans-bold.ttf"),
    url("fonts/opensans-bold.otf"),
    url("fonts/opensans-bold.eot"),
    url("fonts/opensans-bold.woff2") format("woff2"),
    url("fonts/opensans-bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/opensans-regular.ttf"),
    url("fonts/opensans-regular.otf"),
    url("fonts/opensans-regular.eot"),
    url("fonts/opensans-regular.woff2") format("woff2"),
    url("fonts/opensans-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/opensans-light.ttf"),
    url("fonts/opensans-light.eot"),
    url("fonts/opensans-light.woff2") format("woff2"),
    url("fonts/opensans-light.woff") format("woff");
}

@font-face {
  font-family: "Raleway Light";
  src: url("fonts/Raleway-Light.ttf");
}

* {
  box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: $open-sans;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: $default;
  min-height: 1000px;
}

.container {
  width: 85%;
  margin: 0 auto;
  @media screen and (max-width: 1335px) {
    width: 1100px;
    margin: 0 40px;
  }
}

ul{
  margin: 0;
}

a{
  text-decoration: none;
  color: $default;
}

.icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
}

li{
  list-style: none;
}

