@font-face {
  font-family: "Open Sans Bold";
  src: url("fonts/opensans-bold.otf"),
  url("fonts/opensans-bold.ttf"),
  url("fonts/opensans-bold.woff2") format("woff2"),
  url("fonts/opensans-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/opensans-regular.otf"),
  url("fonts/opensans-regular.ttf"),
  url("fonts/opensans-regular.woff2") format("woff2"),
  url("fonts/opensans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}
