$open-sans: "Open Sans", sans-serif;
$open-sans-bold: "Open Sans Bold", sans-serif;
$open-sans-light: "Open Sans Light", sans-serif;
$default: #949FB3;
$white: #FFF;
$light-blue: #E5F0FA;
$orange: #FF952D;
$blue: #DAE4EE;
$gray-blue: #657189;
$aqua-blue: #00C4E6



